.header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
 
  .header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #2c4964;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }


  a.nav-link {
    color: #2c4964;
  }

  





